@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Jeko-Regular";
		src: url("../fonts/jeko/jeko-Regular.ttf");
		font-weight: 400;
		font-style: normal;
	}
}

@layer components {
    .body-text {
        @apply font-normal text-base leading-6
    }

    .caption {
        @apply font-light text-sm leading-[21px]
    }

    .button-text {
        @apply font-medium text-2xl leading-[29px]
    }

    .error {
        @apply border border-red-500;
    }

}